/* IMPORTS */

@import url("syntax_pygment.css");
@import url("syntax_icons.css");


/*-------------------------------------------------*/

/* GENERAL SETUP */

body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
    margin: auto;
    width: 60%;
    /*background: yellow; */
}

p {
    text-align: justify;
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*-------------------------------------------------*/

/* NAV TAG (NAVIGATION LINKS ON TOP) */

nav {
  padding-top: 1em;
}

nav a {
    color: black;
    text-decoration-color: black;
}

nav > ul {             /*only selects direct child */
    padding: 0em;
    padding-bottom: 1em;
    list-style: none;
}

nav ul li {
    display: inline;
    /*margin-right: 20px;*/
    font-family: Georgia, serif; 
    font-size: 1.25em;
    font-weight: 100;
}

body.home  a.home,
body.blog  a.blog, 
body.skills_tools a.skills_tools {
    cursor: default;
    color: red;
    text-decoration: underline;
}

ul.header {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /*background: #cacaca;*/
    margin: 0em;
    padding-right: 0em;
}

li > header {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    font-weight: bold;
    /*background: #fafafa;*/
}

#header_container {
  height: 100%;
  /*width: 83.5%;*/
  display: flex;
  /*background: blue;*/
  align-items: center;
}

#header1_name {
  display: block;
  width: 30%;
  padding-right: .2em;
  /*align-content: center;*/
  /*font-family: Merriweather;*/ 
  font-size: 1.6em;
  /*font-weight: bold;*/
  /*background: green;*/
}

#container_links {
  width: 50%;
  /*background: yellow;*/
  display: flex;
  flex-wrap: wrap;
}

#container_image {
  width: 20%;
  /*background: red;*/
  text-align: right;
  display: block;
}


/*-------------------------------------------------*/

/* FOOTER */

footer {
    font-size: .9em;
    font-weight: normal;
}

footer a {
    color: black;
}

footer table {
    padding: 0em;
    padding-bottom: .5em;
    padding-top: .5em;
    list-style: none;
    font-size: 1.1em;
    font-weight: normal;
}

#table-bottom {
    width:100%;
}


/*-------------------------------------------------*/

/* MAIN TEXT ON HOME PAGE */

.blurb {
    justify-content: center;
    width: 85%;
    margin: auto;
    /*padding-left: 2em;*/
    padding-top: .5em;
    /*background: grey;*/
}

/*-------------------------------------------------*/

/* SKILLS/TOOLS */

#st-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 2em;
}

.st-heading {
  display: flex;
  width: 45%;
  /*background: red;*/
  flex-direction: column;
  /*justify-content: center;*/
  /*border: 5px solid gray;*/
  margin: 0;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

#st-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    /*background: red;*/
    /*padding cannot be set when width = 100%*/
    /*
    padding-left: 2.5em;
    padding-right: 2.5em;
    */
}

.st-box-container-lr {
  display: flex;
  width: 45%;
  flex-direction: column;
  /*justify-content: center;*/
  /*border: 5px solid gray;*/
  margin: 0;
  /*border-radius: 30px;
  background: yellow;*/
}

.st-box {
  background: #f7f7f7;
  padding: .5em 0;
  margin: .5em 0;
}

.st-box ul {
  margin: 0 auto;
  padding: 0 auto;
}

.st-item {
  padding-bottom: .3em;
  text-align: center;
  font-weight: bold;
}

.slide {
  display: none;
}

/*-------------------------------------------------*/

/* BLOG */

#heading-blog {
    text-align: center; 
    padding-top: 2em;
    /*background: purple;*/
    font-size: 1.5em;
    font-weight: bold;
}

#posts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding-top: .5em;
    padding-bottom: 1.5em;
}

ul.posts { 
    margin: 20px auto 20px; 
    font-size: 1em;
    line-height: 1.5em;
}
ul.posts li {
    list-style: none;
}

/* BLOG POST (cf. ./_layouts/post.html) */

body.blog h1 {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0em;
  margin: 0em auto;
}


body.blog h2 {  /* created within blog text in .md docs */
  font-size: 1.3em;
}

body.blog p.meta {
  margin: 0em 0em 2em 0em;
  padding: 0em auto;
  font-style: italic;
  text-align: center;

}

body.blog ol {
  padding: 1em 3em;
}

body.blog ol li {
  text-align: justify; 
  padding-left: 1em;
  line-height: 1.4em;    
  padding-bottom: .5em;
}

body.blog ul li {
  text-align: justify; 
  padding-left: 1em;  
  padding-bottom: .5em;
}

figure.highlight {
  margin: 0 auto;
  padding: 0 auto;
}

pre.lineno {
  padding-right: .3em;
}
.container-blognav {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.blognav {
    color: red;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    padding: 4px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px; 
}

.blognav:hover {
    background-color: rgba(255,0,0,0.10);
    text-decoration: none;
}

a.blognav  {
    text-decoration: none;
}

