@import url("syntax_pygment.css");

body {
    font-family: Georgia, serif;
    margin: 60px auto;
    width: 70%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    padding-bottom: 1em;
    list-style: none;
    font-weight: normal;
}

footer table {
    padding: 0px;
    padding-bottom: 1em;
    padding-top: .5em;
    list-style: none;
    font-size: 1.1em;
    font-weight: normal;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    /* color: #999; */
}
a:hover {
    text-decoration: underline;
}


nav a {
    color: black;
    text-decoration-color: black;
}

footer a {
    color: black;
}


body.home  a.home,
body.blog  a.blog {
    cursor: default;
    color: red;
}


h1 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    text-align: justify;
    width: 80%;
    padding-left: 2em;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

p.meta {
    font-style: italic;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
    font-weight: normal;
    font-style: italic;
}

ul.posts { 
    margin: 40px auto 40px; 
    font-size: 1.2em;
    line-height: 1.7em;
}

ul.posts li {
    list-style: none;
}

.row {
    position: relative;
    width: 500px;
    height: auto;
    margin: 35px;
}

.blognav {
    color: gray;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    padding: 4px;
    margin: auto;
    border: 3px solid gray;
    border-radius: 10px; 
}

.blognav:hover {
    background-color: rgba(255,0,0,0.10);
    text-decoration: none;
}

a.blognav  {
    text-decoration: none;
}
