/* 
don't waste any space on mobile devices:
if screen width smaller than 480px, 
set width (<p>) to 100%. 
*/

html {
  height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Georgia, serif;
    margin: auto;
    min-height: 100%;
    width: 100%;
    background-color: #F0F0F0;
    background-image: url(../img/bg.jpg);
    /*background: yellow; */
}

.blurb {
    display: flex;
    flex-direction: column;
    /*align-content: center;*/
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    margin: 0 auto;
    /*width: 85%;*/
    /*margin: auto;*/
    /*padding-left: 2em;*/
    padding-top: 20px;
}

.main_text {
  padding-left: 3em;
  padding-right: 3em;
  background: purple;
}

/* Image @home */

.side {
  padding-left: 3em;
  padding-right: 3em;  
  align-self: center; 
  background: grey;
}

#header1_name {
  flex: 25%;
  /*padding-right: .2em;*/
  /*align-content: center;*/
  /*font-family: Merriweather;*/ 
  font-size: 1.1em;
  /*font-weight: bold;*/
  /*background: green;*/
  background: green;
}

#container_links {
  flex: 75%;
  /*background: yellow;*/
  display: flex;
  flex-wrap: wrap;
  background: red;
}

#container_image {
  flex: 0%;
  display: none;
  background: yellow;
}


nav ul li {
    display: inline;
    /*margin-right: 20px;*/
    font-family: Georgia, serif; 
    font-size: 1em;
    font-weight: 100;
}


#posts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: .5em;
    padding-bottom: 1.5em;
}

.blurb-blog ol {
  padding: 1em 0em;
}

