/* 
don't waste any space on mobile devices:
if screen width smaller than 480px, 
set width (<p>) to 100%. 
*/

body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
    margin: auto;
    width: 90%;
    /*background: yellow; */
}

#header1_name {
  display: block;
  width: 25%;
  /*padding-right: .2em;*/
  /*align-content: center;*/
  /*font-family: Merriweather;*/ 
  font-size: 1.1em;
  /*font-weight: bold;*/
  /*background: green;*/
}

#container_links {
  width: 75%;
  /*background: yellow;*/
  display: flex;
  flex-wrap: wrap;
}

#container_image {
  display: none;
}


nav ul li {
    display: inline;
    /*margin-right: 20px;*/
    font-family: Georgia, serif; 
    font-size: 1em;
    font-weight: 100;
}


.blurb {
    justify-content: center;
    width: 85%;
    margin: auto;
    /*padding-left: 2em;*/
    padding-top: .5em;
    /*background: grey;*/
}

#posts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: .5em;
    padding-bottom: 1.5em;
}

.blurb-blog ol {
  padding: 1em 0em;
}

