<!DOCTYPE html>
	<html>
		<head>
			<title>thrld</title>
			<!-- <link rel="icon" href="../../../../img/rocket.png"/> -->
			<link rel="icon" href="../../../../img/favicon-rocket.ico"/>	
		

			<!-- Could also be <title> {{page.title}} -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css" />
			<link rel="stylesheet" type="text/css"
  			media="screen and (max-width: 767px)"
  			href="/css/small.css" />
  			<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather" />
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
			<script> 
				$(document).ready(function(){
					$(".slide").slideDown(2000);
				});
			</script>
		</head>
	
		<body class = "{{ page.section }}">
			<nav>
				<div id="header_container">
					<div id=header1_name>
						Tom A. Herold
					</div>
					<div id="container_links">
						<ul class="header">
							<li class="header">
								<div id="link_home">
									<a href="/" class="home">Home</a>
								</div>
							</li>
							<li class="header">
								<div id="link_about">
									<a href="/about" class="about">About</a>
								</div>
							</li>
							<li class="header">
								<div id="link_cv">
									<a href="/pdf/cv_herold.pdf">CV</a>
								</div>
							</li>
							<li class="header">
								<div id="link_blog">
									<a href="/blog" class="blog">Blog</a>
								</div>
							</li>
						</ul>
					</div>
					<div id="container_image">
						<div class="hvr-icon-float-away">
							<span style="font-size: 30px"><i class="fas fa-rocket hvr-icon"></i></span>
							<!-- <img src="../../../../img/rocket.png" height=30 class="hvr-icon"> -->
						</div>
					</div>  	
  				</div>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<div itemscope itemtype="http://schema.org/Person">
					<table id="table-bottom">
						<tr>
							<th> 
								Get in touch.
							</th>
							<th>
								Visit me on Github.
							</th>
							<th>
								Check out my LinkedIn.
							</th>
							<th>
								See my stack.
							</th>	
						</tr>
						<tr>
							<th> 
								<!-- https://hoax-info.tubit.tu-berlin.de/software/emailencoder.shtml -->
								<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
									<!--
									document.write('<SPAN STYLE="FONT-SIZE: 40PX"><A HREF="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x74;&#x68;&#x6f;&#x6d;&#x61;&#x73;&#x68;&#x65;&#x72;&#x6f;&#x6c;&#x64;&#x40;&#x67;&#x6d;&#x78;&#x2e;&#x6e;&#x65;&#x74;" itemprop = "email" class="hvr-icon-wobble-horizontal"><i class="fas fa-envelope hvr-icon"></i><\/A><\/SPAN>');
									// -->
								</SCRIPT>
								<!-- <img src="../../../../img/mail.png" height="50" class="hvr-icon"><\/A>'); -->
							</th>
							<th>
								<span style="font-size: 40px"><a href="https://github.com/thrld" target="_blank" itemprop = "url" class="hvr-icon-spin"><i class="fab fa-github hvr-icon"></i></a></span>
									<!-- <img src="../../../../img/GitHub-Mark-64px.png" height="50" class="hvr-icon"></a> -->
							</th>
							<th>
								<span style="font-size: 40px"><a href="https://www.linkedin.com/in/thrld/" target="_blank" itemprop = "url" class="hvr-icon-spin"><i class="fab fa-linkedin-in hvr-icon"></i></a></span>
									<!-- <img src="../../../../img/GitHub-Mark-64px.png" height="50" class="hvr-icon"></a> -->
							</th>
							<th>
								<span style="font-size: 35px"><a href="https://stackshare.io/thrld/my-stack" target="_blank" itemprop = "url" class="hvr-icon-down"><i class="fas fa-database hvr-icon"></i></a></span>
									<!-- <img src="../../../../img/keyboard-icon.png" height="50" class="hvr-icon"/></a> -->
							</th>
						</tr>
					</table>		
				</div>
			</footer>

			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-77790817-1', 'auto');
			  ga('send', 'pageview');
			</script>
		</body>
	</html>